.idea/

# Logs
logs
*.log
*.err

# config and credentials
config.json
users.list
serverSchedule.json

#python cache
__pycache__/
*/__pycache__/

temp/
*.ipynb
.ipynb_checkpoints/

osu-tools/

src/

*TEMP_MPY*

mudaSafe
