antlr4-python3-runtime==4.8
sympy
scikit-image
gizeh
moviepy
Pillow
matplotlib
numpy
seaborn
pandas
bezier
discord
requests
aiohttp
regex
arrow
-e git+https://github.com/The-CJ/oppadc.py.git#egg=oppadc
